<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estimated List</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
</head>
<body>
<center>


<h1>Estimated List of Bills</h1>
{% if estimatedBillList %}
<table border="2">
    <thead>
    <th>Sl.No</th>
    <th>BILLNO</th>
    <th>CUSTOMER NAME</th>
    <th>DATE</th>
    <th>MOBILE NO</th>
    <th>ESTIMATED AMOUNT</th>
    </thead>

    {% for bill in estimatedBillList %}
    <tr>
        <td>{{bill.id}}</td>
        <td>{{bill.bilNo}}</td>
        <td>{{bill.customerName}}</td>
        <td>{{bill.dateTime}}</td>
        <td>{{bill.mobileNo}}</td>
        <td>{{bill.estimatedValue}}</td>
        <td><a href="/estimateupdate/{{bill.id}}">UPDATE</a> </td>
        <td><a href="/estimatedelete/{{bill.id}}">DELETE</a> </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>NO BILLS FOUND</p><br>

{% endif %}
    <a href='/'>BACK</a>
    </center>
</body>
</html>