<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ListBills</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
</head>
<body>
<center>

    <h1>List of bills</h1>

    {% if billlist %}
<table border="2">
    <thead>
    <th>BILLID</th>
    <th>BILLNO</th>
    <th>CUSTOMER NAME</th>
    <th>DATE</th>
    <th>MOBILE NO</th>
    <th>AMOUNT</th>
    </thead>

    {% for bill in billlist %}
    <tr>
        <td>{{bill.id}}</td>
        <td>{{bill.bilNo}}</td>
        <td>{{bill.customerName}}</td>
        <td>{{bill.dateTime}}</td>
        <td>{{bill.mobileNo}}</td>
        <td>{{bill.amountValue}}</td>
        <td><a href="/update/{{bill.id}}">UPDATE</a> </td>
        <td><a href="/delete/{{bill.id}}">DELETE</a> </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>NO BILLS FOUND</p>

{% endif %}
    <a href='/'>BACK</a>
</center>



</body>
</html>